/* FONT FACES */
@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("assets/fonts/Roboto-Bold.ttf");
}

/* GLBAL STYLES */
body {
    font-family: var(--normal);
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 2rem;
}

/* ROOT */
:root {
    --normal: 'Roboto', sans-serif;
    --bold: 'Roboto-Bold', sans-serif;
    --skyblue: #1992D4;
    --bg: #E2E8F0;
    --sunglow: #FDCF48ff;
    --white-fill: invert(100%) sepia(2%) saturate(2%) hue-rotate(21deg) brightness(116%) contrast(100%);
}

/* PARENT */
.container {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    grid-template-rows: 1fr 3fr;
}

/* sidebar */
.sidebar {
    background-color: var(--skyblue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.01fr 2fr 1fr;
    color: white;
}

.side-header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-family: var(--bold);
    gap: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
}

.sidebar .side-header img {
    justify-self: end;
    align-self: center;
    width: 2.5rem;
    filter: var(--white-fill);
}

.primary-directs {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.secondary-directs {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.sidebar ul {
    place-self: start;
    margin-left: 1.6rem;
}

.sidebar ul li a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    gap: 1rem;
    justify-items: start;
}

.sidebar ul li a img {
    justify-self: end;
    filter: var(--white-fill);
}

/* header */
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #E2E8F0;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

/* CONTENT */
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}